body {
  background-color: white;
  font-family: "Manrope";
  font-weight: 400;
  color: black;
  font-size: 18px;
}

textarea {
  box-sizing: border-box;
  padding: 10px;
}

input {
  box-sizing: border-box;
  padding: 10px;
}

h1 {
  margin-bottom: 70px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.posts__wrapper {
  display: flex;
  justify-content: space-between;
}

.new__post {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-title-input {
  height: 30px;
  font-family: inherit;
}

.js-output-symbol-title {
  font-size: 15px;
}

.symbol-title-red {
  color: red;
}

.post-text-input {
  height: 100px;
  font-family: inherit;
}

.js-output-symbol-text {
  font-size: 15px;
}

.symbol-text-red {
  color: red;
}

.new-post-btn {
  height: 50px;
  font-family: inherit;
  background-color: #0094ff;
  color: white;
  border: none;
  cursor: pointer;
}

.new-post-btn:hover {
  background-color: hwb(205 0% 21%);
  border: 1px solid #0094ff;
  transition: all 0.5s ease;
}

:disabled {
  opacity: 0.5;
  cursor: default;
}

:disabled:hover {
  opacity: 0.5;
  background-color: #0094ff;
  cursor: default;
  transition: none;
}

.posts__publication {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.posts__publication-wrapper {
  display: flex;
  flex-direction: column-reverse;
}
.post {
  display: flex;
  flex-direction: column;
}

.date__text {
  margin-bottom: 20px;
  color: #0094ff;
}

.post__title {
  margin-bottom: 20px;
  word-break: break-all;
  font-weight: 700;
}

.post__text {
  margin-bottom: 50px;
  word-break: break-all;
}

@media (max-width: 767px) {
  body {
    font-size: 15px;
  }

  h1 {
    margin-bottom: 50px;
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .new__post {
    width: calc(50% - 10px);
  }

  .js-output-symbol-title {
    font-size: 10px;
  }

  .js-output-symbol-text {
    font-size: 10px;
  }

  .posts__publication {
    width: calc(50% - 10px);
  }
}
